@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");

.navbar .container .navbar-brand {
  font-family: "Heebo";
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar .container .navbar-nav .nav-link {
  font-family: "Heebo";
  letter-spacing: 2px;
  padding: 10px;
}

.navbar .container .navbar-nav .nav-link:hover {
  background-color: rgb(121, 114, 114);
  border-radius: 15px;
}

.carousel .carousel-inner .carousel-item {
  height: 100vh;
}

.carousel .carousel-inner .carousel-item img {
  filter: grayscale(100%);
}

.carousel .carousel-inner .carousel-item .carousel-caption {
  width: 500px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 0;
}

.carousel .carousel-inner .carousel-item .carousel-caption h5 {
  font-size: 12px;
}

#about-me .container .row .col {
  font-family: "Montserrat";
}

#about-me .container .row .col-md-4 img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-left: 30px;
}

#about-me .container .row .col-md-6 h4 {
  font-size: 32px;
  letter-spacing: 1px;
}

@media (min-width: 992px) {
  .carousel .carousel-inner .carousel-item {
    height: 600px;
    background-size: cover;
  }

  .carousel .carousel-inner .carousel-item .carousel-caption {
    width: 500px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 0;
  }

  .carousel .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 25px;
  }
}
